.container {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;

    .item {
        border-radius: 0.5rem;
        background-size: cover;
        height: 11rem;
        display: inline-flex;
        margin: 0 20px 20px 0;
        height: 11rem;
        width: 20rem;
    
        cursor: pointer;
    }
}